name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Docker login
      env:
        DOCKER_USER_VAR: ${{secrets.DOCKER_USER}}
        DOCKER_PASSWORD_VAR: ${{secrets.DOCKER_PASSWORD}}
      run: |
        docker login -u $DOCKER_USER_VAR -p $DOCKER_PASSWORD_VAR
    
    - name: Docker build image
      run: |
        docker build -t gustcl/graphql:0.0.1 .
        docker build -t gustcl/graphql .
    - name: Docker push image
      run: |
        docker push gustcl/graphql:0.0.1
        docker push gustcl/graphql
